:root {

  --primary: #F7C600;
  --primary-dark: #E3B400;

  --secondary: #5A1700;
  --secondary-light: #7A2600;

  --light-yellow: #FFF4BF;

  --bg-light: #FFFBE6;

  --white: #ffffff;

  --text-dark: #2B0C00;

  --border: #E5D08A;

  --success: #198754;
  --danger: #dc3545;

  --shadow:
    0 4px 20px rgba(90,23,0,.12);
}